/* @import "tailwindcss"; */
input[type="text"]:focus {
  outline: none;
  border: none; /* optional if you also want to remove the border itself */
}
header{
    background-color: #0F172A;
z-index: 10;
}
body{
    min-height: 100vh;
    overflow: hidden;
}
input[type="text"]{
    background-color: rgba(30, 41,59, 0.7);
    color: white;
    padding: 8px;
    padding-right: 100px;
}
main{
  padding: 37vh;
    background: url(https://wallpapercave.com/wp/wp10857936.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
 

 
}
main .container,section{

background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
/* .container1{
    display: flex;
    flex-direction: column;
    justify-content: center;

} */
 
}
#heading2{
    font-size: 2rem;
    color: #ffffff;
}

/* table  tr td{
    padding: 15px;
 
    background-color: #0F172A;
       margin: 6px;
}
/ */
table{
  margin-bottom: 14px;
}
 #forecast {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  
}

#forecast td {
  padding: 8px 20px;
  
  color: white;
}
#forecast tr {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 8px;
  color: white;
}
/*  */
#card4{
  margin-top: 15px;
  margin-left: 23px;
}
#card3{
  margin-top: 25px;
}
 